<table
  class="w-full border-collapse border border-mondrian_white"
  aria-describedby="table-note"
>
  <caption class="sr-only">
    List of versions and their release dates with changes
  </caption>
  <thead>
    <tr class="border-b border-b-black bg-mondrian_white text-left font-sans">
      <th class="w-1/12 pl-1" scope="col">Version</th>
      <th class="w-1/12 pl-1" scope="col">Release Date</th>
      <th class="pl-1" scope="col">Changes</th>
      <th class="w-1/12 pl-1" scope="col">Link?</th>
    </tr>
  </thead>
  <tbody>
    <!-- ROWS -->
  </tbody>
  <!-- FOOTER -->
</table>
