<tr class="border-b border-b-gray-300 hover:bg-gray-100">
  <td class="text-left font-mono text-xs align-top pt-1 pl-1" scope="row">
    <!-- DATE -->
  </td>
  <td class="flex justify-between h-full">
    <span class="text-left text-sm align-top pt-1 pl-1"><!-- CONTENT --></span>
    <span class="h-max flex justify-center align-center pt-2 pr-1"
      ><!-- BLUESKY --></span
    >
  </td>
  <td class="p-1 align-top">
    <a
      href="<!-- PATH -->"
      class="w-full text-xs py-1 px-1 text-black border border-black shadow-mondrian font-mono transition-colors bg-white hover:bg-mondrian_red hover:text-white text-center inline-block focus:outline focus:outline-offset-2 focus:outline-mondrian_blue"
      aria-label="Link to article"
    >
      LINK →
    </a>
  </td>
</tr>
