<table class="font-mono text-xs">
  <thead>
    <tr
      class="flex w-full justify-between bg-gray-100 border-b border-black mb-1"
    >
      <td class="w-16 mr-[12px]"></td>
      <td class="w-[8.33%]">Jan</td>
      <td class="w-[8.33%]">Feb</td>
      <td class="w-[8.33%]">Mar</td>
      <td class="w-[8.33%]">Apr</td>
      <td class="w-[8.33%]">May</td>
      <td class="w-[8.33%]">Jun</td>
      <td class="w-[8.33%]">Jul</td>
      <td class="w-[8.33%]">Aug</td>
      <td class="w-[8.33%]">Sep</td>
      <td class="w-[8.33%]">Oct</td>
      <td class="w-[8.33%]">Nov</td>
      <td class="w-[8.33%]">Dec</td>
    </tr>
  </thead>
  <tbody>
    <!-- ROWS -->
  </tbody>
  <tfoot></tfoot>
</table>
